<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixin.tjpu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name=".MyApp"
        android:icon="@drawable/tjpu"
        android:label="@string/app_name" >
        
        <meta-data android:value="51174b5f5270154057000039" android:name="UMENG_APPKEY"></meta-data>
        
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				
                <category android:name="android.intent.category.LAUNCHER" />
                 
            </intent-filter>
        </activity>
        <activity android:name=".TjpuActivity"></activity>
        <activity android:name=".MyApp"></activity>
        <activity android:name=".CourseActivity"></activity>
        <activity android:name=".GradeActivity"></activity>
        <activity android:name=".LibraryActivity"></activity>
        <activity android:name=".GradeResult"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".Schedule"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".BookItems"></activity>
        <activity android:name=".BookDetail"></activity>
        
        <service
   			 android:name="com.umeng.common.net.DownloadingService"
  			 android:exported="true"
   			 android:process=":DownloadingService" >
		</service>
        
        
    </application>
	<uses-permission android:name="android.permission.INTERNET" /> 
</manifest>